* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MONTSERRAT", "monospace", "RALEWAY", "OPEN SANS";
}

header {
  width: 100%;
  height: 64px;
}

.menu {
  background-color: #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu span > i > img {
  margin-right: 15px;
}

.menu > .logo > img {
  margin-top: 55px;
}

.btn_menu {
  cursor: pointer;
  display: none;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}

.menu_items li:hover,
li:active {
  background: linear-gradient(339deg, #0b0e0d, #dadada);
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 20s ease infinite;
  background-size: 645px 40px;
  border-radius: 40px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

ul.show {
  top: 64px;
}

@media screen and (max-width: 952px) {
  .menu_items li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .btn_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #000000;
    top: -100vh;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu_items li {
    margin: 30px 0 0 0;
    padding: 10px 0;
    line-height: 30px;
  }

  .menu_items li:hover {
    background: none;
  }

  .menu_items li a {
    font-size: 20px;
    font-weight: bold;
  }

  .menu_items li a:hover {
    background: linear-gradient(339deg, #0b0e0d, #dadada);
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 20s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }

  .menu_items {
    overflow: scroll;
    height: calc(100% - 64px);
  }
}
.section-main--one {
  width: 100%;
  height: 100vh;
  background: linear-gradient(339deg, #0b0e0d, #dadada);
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 20s ease infinite;
  background-size: 400% 400%;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.banner-text--containerTwo {
  display: none;
}

.main-banner--container {
  width: 100%;
  height: 100vh;
  background-image: url("/galery/Img/firstBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-banner--container h1 {
  font-family: "MONTSERRAT", "monospace";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
}
.main-banner--container h2 {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.separador {
  margin: 20px 0;
}

.git {
  margin: 0 20px;
}

@media screen and (min-width: 374px) {
  .main-banner--container {
    background-image: url("/galery/Img/secondBanner.png");
  }
}
@media screen and (min-width: 393px) {
  .main-banner--container {
    background-image: url("/galery/Img/Banner414px/Component3.png");
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5px;
  }
}