//fonts
$titles: 'MONTSERRAT', 'monospace';
$subTitles: 'RALEWAY';
$paragraf:'OPEN SANS';
//color`s
$backgroundHeader: #000000;
$colorTextOne: #ffffff;
$colorTextTwo: #000000;
$colorFondoSectionOne: #FFFFFF;
$colorFondoSectioneTwo: #000000;
$titleMarkColor: #000000;
$lineSideButtonWhite: #FFFFFF;
$lineSideButtonBlack: #000000;
$colorLinearGradientBanner: linear-gradient(180deg, #545454 15.21%, rgba(145, 145, 145, 0.255491) 100%, rgba(157, 157, 157, 0.108646) 100%, rgba(166, 166, 166, 0) 140.59%);
$colorLinearGradientFooter: linear-gradient(0deg, #000000 8.81%, rgba(196, 196, 196, 0) 31.87%);
$colorInputLetter: #8B8B8B;
$opacityProyectLayers: linear-gradient(0deg, rgba(2, 2, 2, 0.42), rgba(2, 2, 2, 0.42)), url(IMAGENAOSCURESER);
$opacityProyectIntro: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62));
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $titles, $subTitles, $paragraf;
}

//barra de navegacion PENDIENTE HACER EL HOVER DE MENU//
header{
    width: 100%;
    height: 64px;
    background-color: $backgroundHeader;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

//anidacion header

.nav-container--icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    #nav{
        margin-right: 14px;
        margin-bottom: 50px;
    }  
}

//banner
.section-main--one{
    width: 100%;
    background: $colorLinearGradientBanner;
    .main-banner--container{
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../dist/Img/background--banner.png');
        background-size: cover; 
        padding-top: 120px;
        .banner-text--container{
            h1 {
                font-family: $titles;
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                color: $colorTextOne;
            }
           h2 {
                    font-family: 'Advent Pro';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 30px;
                    text-align: center;
                    color: $colorTextOne;
            }  
        } 
        #separador {
            margin: 14px auto 26px;
        }
        .banner-img--container #git {
            margin: 0 32px;
        }        
    }
}

//intro

.section-main--two{
    width: 100%;
    height: auto;
    background-image: url('../dist/Img/bannerImg375.png');
    background-size: cover;
    .main-intro--container{
        height: 547px;
        background: $opacityProyectIntro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: $colorTextOne;
        img{
            width: 170px;
            height: 170px;
            margin: -30px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
        }
        #p {
            font-family:$paragraf;
            font-style: normal;
            font-weight: lighter;
            font-size: 17px;
            line-height: 20px;
            text-align: justify;
            margin: 36px 50px;
        }
        .button {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: $colorTextOne;
            padding: 10px 45px;
            border-left: $lineSideButtonWhite solid;
            border-right: $lineSideButtonWhite solid;
            border-top: none;
            border-bottom: none;
        }
    }
}

//about me

.section-main--three{
    width: 100%;
    height: auto;
    background: $colorFondoSectionOne;
    .main-aboutme--containter{
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-family: $paragraf;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: $colorTextTwo;
            margin: 0px 62px;
        }
        .titleBox {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 127.9%;
            text-align: center;
            color: $colorTextTwo;
            padding: 10px 45px;
            border: 8px $titleMarkColor solid;
            margin: 45px auto;    
        }
        .button {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: $colorTextTwo;
            padding: 10px 45px;
            border-left: $lineSideButtonBlack solid;
            border-right: $lineSideButtonBlack solid;
            border-top: none;
            border-bottom: none;
            margin: 50px auto 30px;
        }
        img{
            margin-bottom: 80px;
        }
    }
    .main-skills--container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-top: -80px;
        img {
            position: relative;
            top: 115px;
            left: 24px;
        }
        h1 {
            padding: 0 60px 15px;
        }
        p {
            font-family: $paragraf;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 18px;
            text-align: justify;
            color: $colorTextTwo; 
        }
    }
    .main-skills--tech {
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 127.9%;
            text-align: center;
            color: $colorTextTwo;
            padding: 10px 45px;
            border: 8px $lineSideButtonBlack solid;
            margin: 45px auto;  
        }
        #unic {
            margin: 25px 0 35px 0;
        }
        h1 {
            margin: 17px 0 70px 0;
        }        
    }
}
 
//Proyects

.section-main-four{
    width: 100%;
    height: auto;
    .main-proyect--container {
        display: flex;
        flex-direction: column;
        .proyect-button--container{
            height: 187.5px;
            background-image: url('../dist/Img/sectionmain1.png');
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .titleBox {
                background: transparent;
                font-family: $titles;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 127.9%;
                text-align: center;
                color: $colorTextTwo;
                padding: 10px 45px;
                border: 8px $titleMarkColor solid;
            }
        }
        .proyect-nav--container{
            height: 156px;
            background-color: $colorFondoSectioneTwo;
            color: $colorTextOne;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                display: inline-block;
                border-bottom: 1px #aaaaaa solid;
                width: 178px;
                text-align: center;
                padding: 10px;
            }
        }
    }
}
 
.proyect-carrusel--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .one {
        width: 100%;
        height: 200px;
        text-align: center;
        background-image: url('../dist/Img/fullweb.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p {
            font-family: $titles;
            font-style: italic;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.095em;    
            color: $colorTextOne;
        }
        h1{
            color: $colorTextOne;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 127.9%;
        }
        .button {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: $colorTextOne;
            padding: 10px 45px;
            border-left: $lineSideButtonWhite solid;
            border-right: $lineSideButtonWhite solid;
            border-top: none;
            border-bottom: none;
            margin: 0px auto 0px;
        }  
    }
    .two {
        width: 100%;
        height: 200px;
        text-align: center;
        background-image: url('../dist/Img/Project.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p {
            font-family: $titles;
            font-style: italic;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.095em;    
            color: $colorTextOne;
        }
        h1{
            color: $colorTextOne;
            font-style: normal;
           font-weight: bold;
           font-size: 25px;
           line-height: 127.9%;
        }
        .button {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: $colorTextOne;
            padding: 10px 45px;
            border-left: $lineSideButtonWhite solid;
            border-right: $lineSideButtonWhite solid;
            border-top: none;
            border-bottom: none;
            margin: 0px auto 0px;
        }       
    }
    .three {
        width: 100%;
        height: 200px;
        text-align: center;
        background-image: url('../dist/Img/Project3.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p {
            font-family: $titles;
            font-style: italic;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.095em;    
            color: $colorTextOne;
        }
        h1 {
            color: $colorTextOne;
            font-style: normal;
           font-weight: bold;
           font-size: 25px;
           line-height: 127.9%;
        }
        .button {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: $colorTextOne;
            padding: 10px 45px;
            border-left: $lineSideButtonWhite solid;
            border-right: $lineSideButtonWhite solid;
            border-top: none;
            border-bottom: none;
            margin: 0px auto 0px;
        }       
    }
    .footer-proyect--container{
        width: 100%;
        height: 60px;
        background: $colorFondoSectioneTwo ;
        font-family: $titles;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $colorTextOne;
        flex-direction: column;
        justify-content: center;
    }
}

//FOOOTER

.section-footer--one{
    width: 100%;
    height: auto;
    background: $colorLinearGradientFooter;
    .footer-contactme--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 127.9%;
            text-align: center;
            color: $colorTextTwo;
            padding: 10px 45px;
            border: 8px $titleMarkColor solid;
            margin: 45px auto;
        }
        p {
            font-family: $paragraf;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: $colorTextTwo;
            margin: 0 42px 40px;
        }
        img {
            margin: 0px auto 65px;
        }
        .small {
            width: 243px;
            height: 45px;
            border-left: 5px $lineSideButtonBlack solid;
            border-bottom: 5px $lineSideButtonBlack solid;
            border-top: none;
            border-right: none;
            background: transparent;
            margin-bottom: 45px;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;
            color: $colorInputLetter;
            padding: 10px;
        }
        .big {
            width: 243px;
            height: 165px;
            border-left: 5px $lineSideButtonBlack solid;
            border-bottom: 5px $lineSideButtonBlack solid;
            border-top: none;
            border-right: none;
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;
            color: $colorInputLetter;
            padding: 10px 10px 125px 10px;
        }
        .button {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: $colorTextOne;
            padding: 10px 45px;
            border-left: $lineSideButtonWhite solid;
            border-right: $lineSideButtonWhite solid;
            border-top: none;
            border-bottom: none;
            margin: 50px auto 25px;
        }
    }
}

.section-footer--two{
    width: 100%;
    height: 289px;
    background: $colorFondoSectioneTwo;
    color: $colorTextOne;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: none;
    h1 {
        font-family: $titles;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.18538em;
    }
    .footer-socialmedia--container {
        display: inline-flex;
        align-items: center;
    }
    .footer-socialmedia--container img {
        margin: 0 15px;
    }
    p {
        font-family: $paragraf;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    } 
}