//fonts
$titles: 'MONTSERRAT',
'monospace';
$subTitles: 'RALEWAY';
$paragraf:'OPEN SANS';
//color`s
$backgroundHeader: #000000;
$colorTextOne: #ffffff;
$colorTextTwo: #000000;
$colorFondoSectionOne: #FFFFFF;
$colorFondoSectioneTwo: #000000;
$titleMarkColor: #000000;
$lineSideButtonWhite: #FFFFFF;
$lineSideButtonBlack: #000000;
$colorLinearGradientBanner: linear-gradient(180deg, #545454 15.21%, rgba(145, 145, 145, 0.255491) 100%, rgba(157, 157, 157, 0.108646) 100%, rgba(166, 166, 166, 0) 140.59%);
$colorLinearGradientFooter: linear-gradient(0deg, #000000 8.81%, rgba(196, 196, 196, 0) 31.87%);
$colorInputLetter: #8B8B8B;
$opacityProyectLayers: linear-gradient(0deg, rgba(2, 2, 2, 0.42), rgba(2, 2, 2, 0.42)),
url(IMAGENAOSCURESER);
$opacityProyectIntro: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62));

//mixins:
@mixin whiteButton {
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $colorTextOne;
    padding: 10px 45px;
    border-left: $lineSideButtonWhite solid;
    border-right: $lineSideButtonWhite solid;
    border-top: none;
    border-bottom: none;
}

@mixin blackButton {
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $colorTextTwo;
    padding: 10px 45px;
    border-left: $lineSideButtonBlack solid;
    border-right: $lineSideButtonBlack solid;
    border-top: none;
    border-bottom: none;
    margin: 50px auto 30px;
}

@mixin titleBoxBlack {
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 127.9%;
    text-align: center;
    color: $colorTextTwo;
    border: 8px $titleMarkColor solid;
}

@mixin smalLabel {
    width: 243px;
    height: 45px;
    border-left: 5px $lineSideButtonBlack solid;
    border-bottom: 5px $lineSideButtonBlack solid;
    border-top: none;
    border-right: none;
    background: transparent;
    margin-bottom: 45px;
    font-family: $titles;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: $colorInputLetter;
    padding: 10px;
}

@mixin bigLabel {
    width: 243px;
    height: 165px;
    border-left: 5px $lineSideButtonBlack solid;
    border-bottom: 5px $lineSideButtonBlack solid;
    border-top: none;
    border-right: none;
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: $colorInputLetter;
    padding: 10px 10px 125px 10px;
}

@mixin backgroundStrech {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin BackgroundBlackWitheAnimated {
    background: linear-gradient(339deg, #0b0e0d, #dadada);
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 20s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        50% {
            background-position: 51% 100%
        }

        100% {
            background-position: 50% 0%
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        50% {
            background-position: 51% 100%
        }

        100% {
            background-position: 50% 0%
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        50% {
            background-position: 51% 100%
        }

        100% {
            background-position: 50% 0%
        }
    }
}


//variables de inicio de navegador
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $titles, $subTitles, $paragraf;
}

// animaciones // launch/* 
.start {
    height: 100vh;
    width: 100%;
    position: relative;
}

.start-page {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.loader_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    z-index: 3;
    animation: loader 5s linear forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
    }

    95% {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        overflow: visible;
    }
}
 

/* The loader container */
.loader {
    position: absolute;
    top: 40%;
    left: 50%;

    width: 200px;
    height: 200px;

    margin-top: -100px;
    margin-left: -100px;
}


 The dot 
.loader>.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    width: 160px;
    height: 100px;

    margin-top: -50px;
    margin-left: -80px;

    border-radius: 5px;

    background-color: white;

    transform-style: preserve-3d;

    animation: dot1 3s cubic-bezier(.55, .3, .24, .99) infinite;
} 

.loader>.dot:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background-color: #666;
    animation-name: dot2;
}

.loader>.dot:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background-color: gray;
    animation-name: dot3;
}
 
@keyframes dot1 {

    3%,
    97% {
        width: 160px;
        height: 100px;

        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 80px;
        height: 120px;

        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 40px;
        height: 80px;

        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {

    3%,
    97% {
        width: 150px;
        height: 90px;

        margin-top: -45px;
        margin-left: -75px;
    }

    30%,
    36% {
        width: 70px;
        height: 96px;

        margin-top: -48px;
        margin-left: -35px;
    }

    63%,
    69% {
        width: 32px;
        height: 60px;

        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {

    3%,
    97% {
        width: 40px;
        height: 20px;

        margin-top: 50px;
        margin-left: -20px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;

        margin-top: 49px;
        margin-left: -5px;

        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;

        margin-top: -37px;
        margin-left: -8px;

        border-radius: 10px;
    }
}
 

 //atomStyle 

@keyframes atom {
    from {
        transform: none;
    }

    to {
        transform: translateY(-10px);
    }
}

@keyframes electron-circle1 {
    from {
        transform: rotateY(70deg) rotateZ(20deg);
    }

    to {
        transform: rotateY(70deg) rotateZ(380deg);
    }
}

@keyframes electron1 {
    from {
        transform: rotateZ(-20deg) rotateY(-70deg);
    }

    to {
        transform: rotateZ(-380deg) rotateY(-70deg);
    }
}

@keyframes electron-circle2 {
    from {
        transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
    }

    to {
        transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg);
    }
} 

@keyframes electron2 {
    from {
        transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
    }

    to {
        transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg);
    }
}

@keyframes electron-circle3 {
    from {
        transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
    }

    to {
        transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg);
    }
}

@keyframes electron3 {
    from {
        transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
    }

    to {
        transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg);
    }
}


.atom {
    top: 140px;
    margin: 50px auto;
    width: 120px;
    height: 120px;
    position: relative;
    animation: atom 1s ease-in-out infinite alternate;
    perspective: 300px;
    transform-style: preserve-3d;
}

.atom:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: white;
}

.atom .electron {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid white;
    transform-style: preserve-3d;
}

.atom .electron:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #666;
    transform-origin: 50% 50% 0;
} 
 
.atom .electron:nth-child(1) {
    transform: rotateY(70deg) rotateZ(20deg);
    animation: electron-circle1 3s linear infinite;
}

.atom .electron:nth-child(2) {
    transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
    animation: electron-circle2 3s linear infinite;
}

.atom .electron:nth-child(3) {
    transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
    animation: electron-circle3 3s linear infinite;
}

.atom .electron:nth-child(1):before {
    transform: rotateZ(-20deg) rotateY(-70deg);
    animation: electron1 3s linear infinite;
}

.atom .electron:nth-child(2):before {
    transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
    animation: electron2 3s linear infinite;
}

.atom .electron:nth-child(3):before {
    transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
    animation: electron3 3s linear infinite;
}