//FOOOTER
 
.section-footer--one{
    width: 100%;
    height: auto;
    background: $colorLinearGradientFooter;
    .footer-contactme--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
            @include titleBoxBlack;
            margin: 45px auto;
            padding: 10px 45px;
        }
        p {
            font-family: $paragraf;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: $colorTextTwo;
            margin: 0 42px 40px;
        }
        img {
            margin: 0px auto 65px;
        }
        .small {
           @include smalLabel;
        }
        .big {
            @include bigLabel;
        }
        .button {
            @include whiteButton;
            margin: 50px auto 25px;
        }
    }
}

.section-footer--two{
    width: 100%;
    height: 289px;
    background: $colorFondoSectioneTwo;
    color: $colorTextOne;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: none;
    h1 {
        font-family: $titles;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.18538em;
    }
    .footer-socialmedia--container {
        display: inline-flex;
        align-items: center;
    }
    .footer-socialmedia--container img {
        margin: 0 15px;
    }
    p {
        font-family: $paragraf;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    } 
}