//banner mobile 
.section-main--one {
    width: 100%;
    height: 100%;
    @include BackgroundBlackWitheAnimated;
    background-size: 400% 400%;
}

// close the second banner text
.banner-text--containerTwo {
    display: none;
}

// styles for first banner text
.main-banner--container {
    width: 100%;
    height: 100vh;
    background-image: url("/src/assets/image/Img/firstBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-family: $titles;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: $colorTextOne;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h2 {
        font-family: 'Advent Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: $colorTextOne;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}

.separador {
    margin: 20px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.git {
    margin: 0 20px;
}

@media screen and (min-width: 374px) {
    .main-banner--container {
        background-image: url("/src/assets/image/Img/secondBanner.png");
    }
}

@media screen and (min-width: 393px) {

    .main-banner--container {
        background-image: url("/src/assets/image/Img/Banner414px/Component3.png");
        justify-content: flex-end;
        padding-bottom: 95px;
    }
}

@media screen and (min-width: 413px) {
    .main-banner--container {
        background-image: url("/src/assets/image/Img/Banner425px/Frame2.png");
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
    }

    .separador {
        display: none;
    }

    .banner-text--containerOne {
        display: none;
    }

    .banner-text--containerTwo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 20px;

        h1 {
            font-family: $titles;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: $colorTextOne;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        h2 {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: $colorTextOne;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        p {
            font-family: Raleway;
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .banner-img--container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;


        .git {
            margin: 20px 0;
        }
    }
}

@media screen and (min-width: 449px) {
    .main-banner--container {
        background-image: url("/src/assets/image/Img/Banner425px/Frame2.png");
        padding-bottom: 95px;
    }
}
    


@media screen and (min-width: 665px) {
    .main-banner--container {
        background-image: url("/src/assets/image/Img/Banner768px/Frame2.png");
        flex-direction: row;
        align-items: end;
        justify-content: flex-end;
    }

    .separador {
        display: none;
    }

    .banner-text--containerOne {
        display: none;
    }

    .banner-text--containerTwo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 20px;

        h1 {
            font-family: $titles;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: $colorTextOne;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        h2 {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: $colorTextOne;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        p {
            font-family: Raleway;
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .banner-img--container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;


        .git {
            margin: 20px 0;
        }
    }
}

@media screen and (min-width: 832px) {
    .main-banner--container {
        background-image: url("/src/assets/image/Img/Banner834px/Frame1.png");
}
}