//banner
.section-main--one{
    width: 100%;
    background: $colorLinearGradientBanner;
     
    .banner-pic--container425px {
        display: block;
        .me{
            position: absolute;
            max-width: 469px;
            top: -6px;
            left: -2px;    
            z-index: 1; 
        }               
        .greyPoligon{
            position: absolute;
            z-index: 0;              
        }
        .opacityRectangle{
            position: absolute;
            z-index: 3;
        }
    }
    .main-banner--container{
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background-image: url('../dist/Img/background--banner.png');
        @include backgroundStrech; 
        padding-top: 120px;
        .banner-text--containerTwo{
            display: block;
            position: relative;
            top: 130px;
            z-index: 3;
            margin: 0 111px 10px 0;
            h2 {
                font-family: $subTitles;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                color: $colorTextOne;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            h1 {
                font-family: $subTitles;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                color: $colorTextOne;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            p {
                margin-top: 5px;
                font-family: $subTitles;
                font-style: normal;
                font-weight: 800;
                font-size: 12px;
                line-height: 14px;
                text-align: start;
                color: $colorTextOne;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        } 
        .banner-text--container{
            display: none;
        } 
        #separador {
            display: none;
        }
        .banner-img--container {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            bottom: 16px;
            z-index: 3;
            #git {
                margin: 30px 10px;
            }      
        } 
    }
}

//intro

.section-main--two{
    width: 100%;
    height: auto;
    background-image: url('../dist/Img/bannerImg375.png');
    @include backgroundStrech;
    .main-intro--container{
        height: 547px;
        background: $opacityProyectIntro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: $colorTextOne;
        img{
            width: 170px;
            height: 170px;
            margin: -30px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
        }
        #p {
            font-family:$paragraf;
            font-style: normal;
            font-weight: lighter;
            font-size: 17px;
            line-height: 20px;
            text-align: justify;
            margin: 36px 50px;
        }
        .button {
            margin-top: 10px;
            @include whiteButton;
        }
    }
}

//about me

.section-main--three{
    width: 100%;
    height: auto;
    background: $colorFondoSectionOne;
    .main-aboutme--containter{
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
            @include titleBoxBlack;
            padding: 10px 45px;  
            margin: 45px auto;  
        }
        p {
            font-family: $paragraf;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: $colorTextTwo;
            margin: 0px 62px;
        }
        .button {
            @include blackButton;        
        }
        img{
            margin-bottom: 80px;
        }
    }
    .main-skills--container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-top: -80px;
        img {
            position: relative;
            top: 115px;
            left: 24px;
        }
        h1 {
            padding: 0 60px 15px;
        }
        p {
            font-family: $paragraf;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 18px;
            text-align: justify;
            color: $colorTextTwo; 
        }
    }
    .main-skills--tech {
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
            @include titleBoxBlack;
            margin: 45px auto; 
            padding: 10px 45px; 
        }
        #unic {
            margin: 25px 0 35px 0;
        }
        h1 {
            margin: 17px 0 70px 0;
        }        
    }
}
 
//Proyects

.section-main-four{
    width: 100%;
    height: auto;
    .main-proyect--container {
        display: flex;
        flex-direction: column;
        .proyect-button--container{
            height: 187.5px;
            background-image: url('../dist/Img/sectionmain1.png');
            @include backgroundStrech;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .titleBox {
                @include titleBoxBlack;
                padding: 10px 45px;
            }
        }
        .proyect-nav--container{
            height: 156px;
            background-color: $colorFondoSectioneTwo;
            color: $colorTextOne;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                display: inline-block;
                border-bottom: 1px #aaaaaa solid;
                width: 178px;
                text-align: center;
                padding: 10px;
            }
        }
    }
}
 
.proyect-carrusel--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .one {
        width: 100%;
        height: 200px;
        text-align: center;
        background-image: url('../dist/Img/fullweb.png');
        @include backgroundStrech;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p {
            font-family: $titles;
            font-style: italic;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.095em;    
            color: $colorTextOne;
        }
        h1{
            color: $colorTextOne;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 127.9%;
        }
        .button {
            @include whiteButton;
        }  
    }
    .two {
        width: 100%;
        height: 200px;
        text-align: center;
        background-image: url('../dist/Img/Project.png');
        @include backgroundStrech;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p {
            font-family: $titles;
            font-style: italic;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.095em;    
            color: $colorTextOne;
        }
        h1{
            color: $colorTextOne;
            font-style: normal;
           font-weight: bold;
           font-size: 25px;
           line-height: 127.9%;
        }
        .button {
            @include whiteButton;
        }       
    }
    .three {
        width: 100%;
        height: 200px;
        text-align: center;
        background-image: url('../dist/Img/Project3.png');
        @include backgroundStrech;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p {
            font-family: $titles;
            font-style: italic;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.095em;    
            color: $colorTextOne;
        }
        h1 {
            color: $colorTextOne;
            font-style: normal;
           font-weight: bold;
           font-size: 25px;
           line-height: 127.9%;
        }
        .button {
            @include whiteButton;
        }       
    }
    .footer-proyect--container{
        width: 100%;
        height: 60px;
        background: $colorFondoSectioneTwo ;
        font-family: $titles;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $colorTextOne;
        flex-direction: column;
        justify-content: center;
    }
}