.section-main--two {
    width: 100%;
    height: 100%;
    background: $colorFondoSectionOne;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .titleBox {
        @include titleBoxBlack;
        padding: 10px 45px;
        margin: 45px;
    }

    p {
        font-family: $paragraf;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: $colorTextTwo;
        margin: 10px 40px;
        text-align: center;
    }

    .button {
        @include blackButton;
    }

    img {
        margin-bottom: 80px;
    }

    .main-skills--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .main-skills--container--text{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        

        .titleBoxServices {
            @include titleBoxBlack;
            padding: 10px 45px;
            margin: 45px;
            margin-top: 84px;
            margin-bottom: 20px;
        }

        .box-model {
            h1 {
                padding: 0 60px 15px;
            }

            p {
                font-family: $paragraf;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                text-align: justify;
                color: $colorTextTwo;
            }

            img {
                position: relative;
                top: 115px;
                left: 24px;
            }
        }


    }
}

@media screen and (min-width: 320px) {
    .main-skills--container {
        .box-model .one {

            margin-top: 25px;


        }
    }
}

@media screen and (min-width: 423px) {
    .main-skills--container {
        .box-model {
            p {
                padding: 0 30px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .main-skills--container {
        .box-model {
            p {
                padding: 0 40px;
            }
        }
    }
}


@media screen and (min-width: 600px) {
    .section-main--two {
        p {
            padding: 0 40px;
        }
    }

    .main-skills--container {
        .box-model {
            p {
                padding: 0 70px;
            }
        }
    }
}



@media screen and (min-width: 643px) {
    .section-main--two {
        p {
            padding: 0 50px;
        }

        .main-skills--container {
            .box-model {
                p {
                    padding: 0 100px;
                }

                h1 {
                    padding: 0 80px 25px;
                }

                img {
                    left: 44px;
                }
            }
        }
    }


}



@media screen and (min-width: 766px) {
    .section-main--two {
        p {
            padding: 0 70px;
        }

        .main-skills--container {
            .box-model {
                p {
                    font-size: 16px;
                    padding: 0 120px;
                }

                h1 {
                    padding: 0 100px 25px;
                }

                img {
                    left: 64px;
                }
            }
        }
    }


}



@media screen and (min-width: 834px) {
    .section-main--two {
        p {
            padding: 0 90px;
        }

        .main-skills--container {
            .box-model {
                p {
                    padding: 0 150px;
                }

                h1 {
                    padding: 0 130px 25px;
                }

                img {
                    left: 94px;
                }
            }
        }
    }
}

@media screen and (min-width:1023px) {
    .section-main--two {
        p {
            padding: 0 120px;
            font-size: 16px;
        }

        .main-skills--container {
            .one {
                width: 50%;

                p {
                    font-size: 18px;
                    padding: 0 90px;
                }

                h1 {
                    padding: 0 100px 25px;
                }

                img {
                    left: 64px;
                }

            }

            .two {
                width: 50%;

                p {
                    font-size: 18px;
                    padding: 0 90px;
                }

                h1 {
                    padding: 0 100px 25px;
                }

                img {
                    left: 64px;
                }
            }

            .three {
                width: 100%;

                p {
                    font-size: 18px;
                    padding: 0 300px;
                }

                h1 {
                    padding: 0 280px 25px;
                }

                img {
                    left: 242px;
                }
            }
        }
    }
}


@media screen and (min-width:1439px) {
    .section-main--two {
        p {
            padding: 0 120px;
            font-size: 16px;
        }

        .main-skills--container {
            .one {
                width: 50%;

                p {
                    font-size: 18px;
                    padding: 0 120px;
                }

                h1 {
                    padding: 0 100px 25px;
                }

                img {
                    left: 64px;
                }

            }

            .two {
                width: 50%;

                p {
                    font-size: 18px;
                    padding: 0 120px;
                }

                h1 {
                    padding: 0 100px 25px;
                }

                img {
                    left: 64px;
                }
            }

            .three {
                width: 100%;

                p {
                    font-size: 18px;
                    padding: 0 420px;
                }

                h1 {
                    padding: 0 400px 25px;
                }

                img {
                    left: 362px;
                }
            }
        }
    }
}


@media screen and (min-width:1920px) {
    .section-main--two {
        p {
            padding: 0 420px;
            font-size: 18px;
        }

        .main-skills--container {
            .one {
                width: 50%;

                p {
                    font-size: 18px;
                    padding: 0 220px;
                }

                h1 {
                    padding: 0 240px 25px;
                }

                img {
                    left: 205px;
                }

            }

            .two {
                width: 50%;

                p {
                    font-size: 18px;
                    padding: 0 220px;
                }

                h1 {
                    padding: 0 240px 25px;
                }

                img {
                    left: 205px;
                }
            }

            .three {
                width: 100%;

                p {
                    font-size: 18px;
                    padding: 0 580px;
                }

                h1 {
                    padding: 0 530px 25px;
                }

                img {
                    left: 493px;
                }
            }
        }
    }
}

.main-skills--tech {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titleBox {
        @include titleBoxBlack;
        margin: 45px auto;
        padding: 10px 45px;
    }

    #unic {
        margin: 25px 0 35px 0;
    }

    h1 {
        margin: 17px 0 70px 0;
    }
}


.section-main-three {
    width: 100%;
    height: auto;

    .main-proyect--container {
        display: flex;
        flex-direction: column;

        .proyect-button--container {
            height: 187.5px;
            background-image: url('../../public/assets/images/Img/sectionmain1.png');
            @include backgroundStrech;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 60px;

            .titleBox {
                @include titleBoxBlack;
                padding: 10px 45px;
            }
        }

        .proyect-nav--container {
            height: 60px;
            background-color: $colorFondoSectioneTwo;
            color: $colorTextOne;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
                display: inline-block;
                border-bottom: 1px #aaaaaa solid;
                width: 157px;
                text-align: center;

                padding: 10px;
            }

        }

        .proyect-nav--container>li {
            margin-top: 10px;
        }
    }

    .proyect-carrusel--container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .boxSample {
            width: 100%;
            height: 200px;
            text-align: center;
            background-color: #aaaaaa;
            @include backgroundStrech;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            p {
                font-family: $titles;
                font-style: italic;
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.095em;
                color: $colorTextOne;
            }

            h1 {
                color: $colorTextOne;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 127.9%;
            }

            .button {
                @include whiteButton;
            }
        }

        .footer-proyect--container {
            width: 100%;
            height: 60px;
            background: $colorFondoSectioneTwo;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $colorTextOne;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 449px) {
    .boxSample {
        width: 100%;
        height: 200px;
        text-align: center;
        background-color: #aaaaaa;
        @include backgroundStrech;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        p {
            font-family: $titles;
            font-style: italic;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.095em;
            color: $colorTextOne;
        }

        h1 {
            color: $colorTextOne;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 127.9%;
        }

        .button {
            @include whiteButton;
        }
    }
}