.resume {
    width: 100%;
    height: 100%;
    background-color: $backgroundHeader;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $colorTextOne;
    padding: 70px 35px;
    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        line-height: 20px;
        text-align: justify;
        margin-bottom: 20px;
    }

    .button {
        margin-top: 20px;
        @include whiteButton;
    }

    img {
        display: none;
    }

}

@media screen and (min-width: 1250px) {
    .resume {
        padding: 70px 100px;
        p {
            font-size: 15px;
        }
    }
   
}


@media screen and (min-width: 1440px) {
    .resume {
        padding: 90px 200px;
        p {
            line-height: 30px;
            font-size: 15px;
        }
    }
   
}


@media screen and (min-width: 2559px) {
    .resume {
        padding: 250px 350px;
        p {
            line-height: 30px;
            font-size: 22px;
        }
    }
   
}
    
    