@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//fonts
$titles: 'Ubuntu', 'MONTSERRAT', 'monospace';
$subTitles: 'RALEWAY';
$paragraf:'OPEN SANS';
//color`s
$backgroundHeader: #000000;
$colorTextOne: #ffffff;
$colorTextTwo: #000000;
$colorFondoSectionOne: #FFFFFF;
$colorFondoSectioneTwo: #000000;
$titleMarkColor: #000000;
$lineSideButtonWhite: #FFFFFF;
$lineSideButtonBlack: #000000;
$colorLinearGradientBanner: linear-gradient(180deg, #545454 15.21%, rgba(145, 145, 145, 0.255491) 100%, rgba(157, 157, 157, 0.108646) 100%, rgba(166, 166, 166, 0) 140.59%);
$colorLinearGradientFooter: linear-gradient(0deg, #000000 8.81%, rgba(196, 196, 196, 0) 31.87%);
$colorInputLetter: #8B8B8B;
$opacityProyectLayers: linear-gradient(0deg, rgba(2, 2, 2, 0.42), rgba(2, 2, 2, 0.42)),
url(IMAGENAOSCURESER);
$opacityProyectIntro: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62));
//cubes
$hue: 185;
$radius: 5.5;
$size: 4;

//mixins:
@mixin whiteButton {
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $colorTextOne;
    padding: 10px 45px;
    border-left: $lineSideButtonWhite solid;
    border-right: $lineSideButtonWhite solid;
    border-top: none;
    border-bottom: none;
}

@mixin blackButton {
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $colorTextTwo;
    padding: 10px 45px;
    border-left: $lineSideButtonBlack solid;
    border-right: $lineSideButtonBlack solid;
    border-top: none;
    border-bottom: none;
    margin: 50px auto 30px;
}

@mixin titleBoxBlack {
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 127.9%;
    text-align: center;
    color: $colorTextTwo;
    border: 8px $titleMarkColor solid;
}

@mixin smalLabel {
    width: 243px;
    height: 45px;
    border-left: 5px $lineSideButtonBlack solid;
    border-bottom: 5px $lineSideButtonBlack solid;
    border-top: none;
    border-right: none;
    background: transparent;
    margin-bottom: 45px;
    font-family: $titles;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: $colorInputLetter;
    padding: 10px;
}

@mixin bigLabel {
    width: 243px;
    height: 165px;
    border-left: 5px $lineSideButtonBlack solid;
    border-bottom: 5px $lineSideButtonBlack solid;
    border-top: none;
    border-right: none;
    background: transparent;
    font-family: $titles;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: $colorInputLetter;
    padding: 10px 10px 125px 10px;
}

@mixin backgroundStrech {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin BackgroundBlackWitheAnimated {
    background: linear-gradient(339deg, #0b0e0d, #dadada);
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 20s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        50% {
            background-position: 51% 100%
        }

        100% {
            background-position: 50% 0%
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        50% {
            background-position: 51% 100%
        }

        100% {
            background-position: 50% 0%
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        50% {
            background-position: 51% 100%
        }

        100% {
            background-position: 50% 0%
        }
    }
}


//variables de inicio de navegador
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: $titles, $subTitles, $paragraf;
    
}

.homeContainer{
    animation: loadPage 1s ease forwards;

    @keyframes loadPage {
        0% {
            background-color: #000000;
            background-position: 0% 50%;
            opacity: 0;
        }
        50% {
            background-color: #000000;
            background-position: 50% 50%;
            opacity: 0.5;
        }
        100% {
            background-color: white;
            opacity: 1;
        }
    }
}