//FOOOTER

.section-footer--one{
    width: 100%;
    height: auto;
    background: $colorLinearGradientFooter;
    .footer-contactme--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 127.9%;
            text-align: center;
            color: $colorTextTwo;
            padding: 10px 45px;
            border: 8px $titleMarkColor solid;
            margin: 45px auto;
        }
        p {
            font-family: $paragraf;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: $colorTextTwo;
            margin: 0 42px 40px;
        }
        img {
            margin: 0px auto 65px;
        }
        .small {
            width: 243px;
            height: 45px;
            border-left: 5px $lineSideButtonBlack solid;
            border-bottom: 5px $lineSideButtonBlack solid;
            border-top: none;
            border-right: none;
            background: transparent;
            margin-bottom: 45px;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;
            color: $colorInputLetter;
            padding: 10px;
        }
        .big {
            width: 243px;
            height: 165px;
            border-left: 5px $lineSideButtonBlack solid;
            border-bottom: 5px $lineSideButtonBlack solid;
            border-top: none;
            border-right: none;
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;
            color: $colorInputLetter;
            padding: 10px 10px 125px 10px;
        }
        .button {
            background: transparent;
            font-family: $titles;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: $colorTextOne;
            padding: 10px 45px;
            border-left: $lineSideButtonWhite solid;
            border-right: $lineSideButtonWhite solid;
            border-top: none;
            border-bottom: none;
            margin: 50px auto 25px;
        }
    }
}

.section-footer--two{
    width: 100%;
    height: 289px;
    background: $colorFondoSectioneTwo;
    color: $colorTextOne;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: none;
    h1 {
        font-family: $titles;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.18538em;
    }
    .footer-socialmedia--container {
        display: inline-flex;
        align-items: center;
    }
    .footer-socialmedia--container img {
        margin: 0 15px;
    }
    p {
        font-family: $paragraf;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    } 
}