* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MONTSERRAT", "monospace", "RALEWAY", "OPEN SANS";
}

.start {
  height: 100vh;
  width: 100%;
  position: relative;
}

.start-page {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.loader_container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  position: relative;
  z-index: 3;
  -webkit-animation: loader 5s linear forwards;
          animation: loader 5s linear forwards;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  95% {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    overflow: visible;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  95% {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    overflow: visible;
  }
}
/* The loader container */
.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

.loader > .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-top: -50px;
  margin-left: -80px;
  border-radius: 5px;
  background-color: white;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
          animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader > .dot:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background-color: #666;
  -webkit-animation-name: dot2;
          animation-name: dot2;
}

.loader > .dot:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background-color: gray;
  -webkit-animation-name: dot3;
          animation-name: dot3;
}

@-webkit-keyframes dot1 {
  3%, 97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot1 {
  3%, 97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}
@-webkit-keyframes dot2 {
  3%, 97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px;
  }
}
@keyframes dot2 {
  3%, 97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px;
  }
}
@-webkit-keyframes dot3 {
  3%, 97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px;
  }
}
@keyframes dot3 {
  3%, 97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px;
  }
}
@-webkit-keyframes atom {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes atom {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@-webkit-keyframes electron-circle1 {
  from {
    -webkit-transform: rotateY(70deg) rotateZ(20deg);
            transform: rotateY(70deg) rotateZ(20deg);
  }
  to {
    -webkit-transform: rotateY(70deg) rotateZ(380deg);
            transform: rotateY(70deg) rotateZ(380deg);
  }
}
@keyframes electron-circle1 {
  from {
    -webkit-transform: rotateY(70deg) rotateZ(20deg);
            transform: rotateY(70deg) rotateZ(20deg);
  }
  to {
    -webkit-transform: rotateY(70deg) rotateZ(380deg);
            transform: rotateY(70deg) rotateZ(380deg);
  }
}
@-webkit-keyframes electron1 {
  from {
    -webkit-transform: rotateZ(-20deg) rotateY(-70deg);
            transform: rotateZ(-20deg) rotateY(-70deg);
  }
  to {
    -webkit-transform: rotateZ(-380deg) rotateY(-70deg);
            transform: rotateZ(-380deg) rotateY(-70deg);
  }
}
@keyframes electron1 {
  from {
    -webkit-transform: rotateZ(-20deg) rotateY(-70deg);
            transform: rotateZ(-20deg) rotateY(-70deg);
  }
  to {
    -webkit-transform: rotateZ(-380deg) rotateY(-70deg);
            transform: rotateZ(-380deg) rotateY(-70deg);
  }
}
@-webkit-keyframes electron-circle2 {
  from {
    -webkit-transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
            transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
  }
  to {
    -webkit-transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg);
            transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg);
  }
}
@keyframes electron-circle2 {
  from {
    -webkit-transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
            transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
  }
  to {
    -webkit-transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg);
            transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg);
  }
}
@-webkit-keyframes electron2 {
  from {
    -webkit-transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
            transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
  }
  to {
    -webkit-transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg);
            transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg);
  }
}
@keyframes electron2 {
  from {
    -webkit-transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
            transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
  }
  to {
    -webkit-transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg);
            transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg);
  }
}
@-webkit-keyframes electron-circle3 {
  from {
    -webkit-transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
            transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
  }
  to {
    -webkit-transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg);
            transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg);
  }
}
@keyframes electron-circle3 {
  from {
    -webkit-transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
            transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
  }
  to {
    -webkit-transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg);
            transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg);
  }
}
@-webkit-keyframes electron3 {
  from {
    -webkit-transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
            transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
  }
  to {
    -webkit-transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg);
            transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg);
  }
}
@keyframes electron3 {
  from {
    -webkit-transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
            transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
  }
  to {
    -webkit-transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg);
            transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg);
  }
}
.atom {
  top: 140px;
  margin: 50px auto;
  width: 120px;
  height: 120px;
  position: relative;
  -webkit-animation: atom 1s ease-in-out infinite alternate;
          animation: atom 1s ease-in-out infinite alternate;
  -webkit-perspective: 300px;
          perspective: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.atom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: white;
}

.atom .electron {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid white;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.atom .electron:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #666;
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
}

.atom .electron:nth-child(1) {
  -webkit-transform: rotateY(70deg) rotateZ(20deg);
          transform: rotateY(70deg) rotateZ(20deg);
  -webkit-animation: electron-circle1 3s linear infinite;
          animation: electron-circle1 3s linear infinite;
}

.atom .electron:nth-child(2) {
  -webkit-transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
          transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: electron-circle2 3s linear infinite;
          animation: electron-circle2 3s linear infinite;
}

.atom .electron:nth-child(3) {
  -webkit-transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
          transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
  -webkit-animation: electron-circle3 3s linear infinite;
          animation: electron-circle3 3s linear infinite;
}

.atom .electron:nth-child(1):before {
  -webkit-transform: rotateZ(-20deg) rotateY(-70deg);
          transform: rotateZ(-20deg) rotateY(-70deg);
  -webkit-animation: electron1 3s linear infinite;
          animation: electron1 3s linear infinite;
}

.atom .electron:nth-child(2):before {
  -webkit-transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
          transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
  -webkit-animation: electron2 3s linear infinite;
          animation: electron2 3s linear infinite;
}

.atom .electron:nth-child(3):before {
  -webkit-transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
          transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
  -webkit-animation: electron3 3s linear infinite;
          animation: electron3 3s linear infinite;
}

header {
  width: 100%;
  height: 64px;
  position: fixed;
}

.menu {
  background-color: #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu span > img {
  margin-right: 15px;
}

.menu > .logo > img {
  margin-top: 55px;
}

.btn_menu {
  cursor: pointer;
  display: none;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}

.menu_items li:hover,
li:active {
  background: linear-gradient(339deg, #0b0e0d, #dadada);
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 20s ease infinite;
  background-size: 645px 40px;
  border-radius: 40px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

ul.show {
  top: 64px;
  z-index: 3;
}

div.show2 {
  top: 64px;
  z-index: 5;
}

@media screen and (max-width: 952px) and (min-height: 675px) {
  .menu_items li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 834px) {
  .btn_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .resume {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #000000;
    background-image: url("/src/assets/image/Img/bannerImg375.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -100vh;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
  }
  .resume p {
    font-family: "open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    text-align: justify;
    padding: 40px;
    margin-top: 50px;
  }
  .resume .button {
    margin-top: 20px;
    background: transparent;
    font-family: "MONTSERRAT", "monospace";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    padding: 10px 45px;
    border-left: #FFFFFF solid;
    border-right: #FFFFFF solid;
    border-top: none;
    border-bottom: none;
  }

  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #000000;
    top: -100vh;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu_items li {
    margin: 30px 0 0 0;
    padding: 10px 0;
    line-height: 30px;
  }

  .menu_items li:hover {
    background: none;
  }

  .menu_items li a {
    font-size: 20px;
    font-weight: bold;
  }

  .menu_items li a:hover {
    background: linear-gradient(339deg, #0b0e0d, #dadada);
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 20s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }
}
@media screen and (max-height: 670px) {
  .btn_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .resume {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #000000;
    background-image: url("/src/assets/image/Img/bannerImg375.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -100vh;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
  }
  .resume p {
    font-family: "open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    text-align: justify;
    padding: 105px 40px 40px 40px;
    margin-top: 50px;
  }
  .resume .button {
    margin-top: 20px;
    background: transparent;
    font-family: "MONTSERRAT", "monospace";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    padding: 10px 45px;
    border-left: #FFFFFF solid;
    border-right: #FFFFFF solid;
    border-top: none;
    border-bottom: none;
  }
  .resume img {
    display: none;
  }

  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #000000;
    top: -100vh;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu_items li {
    margin: 30px 0 0 0;
    padding: 10px 0;
    line-height: 30px;
  }

  .menu_items li:hover {
    background: none;
  }

  .menu_items li a {
    font-size: 20px;
    font-weight: bold;
  }

  .menu_items li a:hover {
    background: linear-gradient(339deg, #0b0e0d, #dadada);
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 20s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }
}
@media screen and (min-width: 835px) {
  .resume {
    display: none;
  }
}
.section-main--one {
  width: 100%;
  height: 100%;
  background: linear-gradient(339deg, #0b0e0d, #dadada);
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 20s ease infinite;
  background-size: 400% 400%;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.banner-text--containerTwo {
  display: none;
}

.main-banner--container {
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/image/Img/firstBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-banner--container h1 {
  font-family: "MONTSERRAT", "monospace";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-banner--container h2 {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.separador {
  margin: 20px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.git {
  margin: 0 20px;
}

@media screen and (min-width: 374px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/secondBanner.png");
    background-position: bottom;
    background-size: cover;
  }
}
@media screen and (min-width: 374px) and (min-height: 812px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/secondBanner.2.png");
    height: 100vh;
  }
}
@media screen and (min-width: 390px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner414px/Component3.png");
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-position: initial;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 414px) and (max-height: 736px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner414px/Component3.5.png");
    height: 672px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 424px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner425px/Frame2.png");
    background-size: cover;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5px;
  }

  .separador {
    display: none;
  }

  .banner-text--containerOne {
    display: none;
  }

  .banner-text--containerTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px;
  }
  .banner-text--containerTwo h1 {
    font-family: "MONTSERRAT", "monospace";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .banner-text--containerTwo h2 {
    font-family: "Advent Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .banner-text--containerTwo p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .banner-img--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10px;
  }
  .banner-img--container .git {
    margin: 20px 0;
  }
}
@media screen and (min-width: 449px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner425px/Frame2.png");
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 511px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner512px/512px.png");
    padding-bottom: 5px;
  }
  .main-banner--container .banner-text--containerTwo {
    padding: 0 0 30px 35px;
  }
  .main-banner--container .banner-img--container {
    padding-right: 25px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 600px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner600px/600px.png");
    height: 100vh;
  }
}
@media screen and (min-width: 600px) and (min-height: 728px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner600px/600px.png");
  }
  .main-banner--container .banner-img--container {
    padding-right: 25px;
    margin-bottom: -5px;
  }
}
@media screen and (min-width: 600px) and (min-height: 1024px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner600px/600px.png");
    padding-bottom: 55px;
  }
}
@media screen and (min-width: 664px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner768px/Frame2.png");
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-banner--container .banner-text--containerTwo {
    padding: 0;
  }
  .main-banner--container .banner-img--container {
    margin: 0;
    padding: 5px 15px 0 20px;
  }

  .separador {
    display: none;
  }

  .banner-text--containerOne {
    display: none;
  }

  .banner-text--containerTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .banner-text--containerTwo h1 {
    font-family: "MONTSERRAT", "monospace";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .banner-text--containerTwo h2 {
    font-family: "Advent Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .banner-text--containerTwo p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .banner-img--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .banner-img--container .git {
    margin: 20px 0;
  }
}
@media screen and (min-width: 767px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner768px/Frame2.png");
  }
}
@media screen and (min-width: 832px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner834px/Frame1.png");
  }
}
@media screen and (min-width: 1023px) {
  .main-banner--container {
    height: 100vh;
    background-image: url("/src/assets/image/Img/Banner1024px/Desktop-3.png");
  }
}
@media screen and (min-width: 1439px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner1440px/Component4.png");
  }
}
@media screen and (min-width: 1920px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner1920px/Frame1.png");
  }
}
@media screen and (min-width: 2559px) {
  .main-banner--container {
    background-image: url("/src/assets/image/Img/Banner2048px/Frame4.png");
  }
}
:root {
  --hue: -130;
  --radius: 17;
  --size: 14;
}

#community {
  height: 600px;
  background: hsl(var(--hue), 50%, 0%);
  margin: 0;
  padding: 0;
  z-index: -1;
}

#community h1 {
  position: relative;
  color: #ffffff;
  font-family: "MONTSERRAT", "monospace";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 100px;
}

.scene {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 600px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plane {
  height: 5vmin;
  width: 5vmin;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-40deg) rotateY(-45deg) rotateX(90deg);
          transform: rotateX(-40deg) rotateY(-45deg) rotateX(90deg);
}

.cube,
.shadow {
  --width: var(--size);
  --height: var(--size);
  --depth: var(--size);
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  font-size: 1rem;
  -webkit-animation: jump 0.8s calc(var(--d) * 1s) infinite;
  animation: jump 0.8s calc(var(--d) * 1s) infinite;
  -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 0);
          transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 0);
}

.cube > div:nth-of-type(1),
.shadow > div:nth-of-type(1) {
  background: hsl(var(--hue), 60%, 50%);
  height: calc(var(--height) * 1vmin);
  width: 100%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin));
          transform: translate(-50%, -50%) rotateX(-90deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin));
}

.cube > div:nth-of-type(2),
.shadow > div:nth-of-type(2) {
  background: hsl(var(--hue), 60%, 60%);
  height: calc(var(--height) * 1vmin);
  width: 100%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg) rotateY(180deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin));
          transform: translate(-50%, -50%) rotateX(-90deg) rotateY(180deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}

.cube > div:nth-of-type(3),
.shadow > div:nth-of-type(3) {
  background: hsl(var(--hue), 60%, 60%);
  height: calc(var(--height) * 1vmin);
  width: calc(var(--depth) * 1vmin);
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg) rotateY(90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin));
          transform: translate(-50%, -50%) rotateX(-90deg) rotateY(90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}

.cube > div:nth-of-type(4),
.shadow > div:nth-of-type(4) {
  background: hsl(var(--hue), 60%, 55%);
  height: calc(var(--height) * 1vmin);
  width: calc(var(--depth) * 1vmin);
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg) rotateY(-90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin));
          transform: translate(-50%, -50%) rotateX(-90deg) rotateY(-90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}

.cube > div:nth-of-type(5),
.shadow > div:nth-of-type(5) {
  background: hsl(var(--hue), 60%, 45%);
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  -webkit-transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * 1vmin));
          transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}

.cube > div:nth-of-type(6),
.shadow > div:nth-of-type(6) {
  background: hsl(var(--hue), 60%, 65%);
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  -webkit-transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * -1vmin)) rotateX(180deg);
          transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * -1vmin)) rotateX(180deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

.shadow {
  -webkit-animation: none;
  animation: none;
  background: white;
  -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(1);
          transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(1);
  -webkit-animation: shadow 0.8s calc(var(--d) * 1s) infinite;
  animation: shadow 0.8s calc(var(--d) * 1s) infinite;
}

.cube--0,
.shadow--0 {
  --x: 1;
  --y: 0;
  --d: -0.7;
}

.cube--1,
.shadow--1 {
  --x: 1;
  --y: -1;
  --d: -0.6;
}

.cube--2,
.shadow--2 {
  --x: 0;
  --y: -1;
  --d: -0.5;
}

.cube--3,
.shadow--3 {
  --x: -1;
  --y: -1;
  --d: -0.4;
}

.cube--4,
.shadow--4 {
  --x: -1;
  --y: 0;
  --d: -0.3;
}

.cube--5,
.shadow--5 {
  --x: -1;
  --y: 1;
  --d: -0.2;
}

.cube--6,
.shadow--6 {
  --x: 0;
  --y: 1;
  --d: -0.1;
}

.cube--7,
.shadow--7 {
  --x: 1;
  --y: 1;
  --d: 0;
}

@-webkit-keyframes jump {
  0%, 30%, 100% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 0);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 0);
  }
  15% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 3.5vmin);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 3.5vmin);
  }
}
@keyframes jump {
  0%, 30%, 100% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 0);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 0);
  }
  15% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 3.5vmin);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), 3.5vmin);
  }
}
@-webkit-keyframes shadow {
  0%, 30%, 100% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(1);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(1);
  }
  15% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(0.85);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(0.85);
    opacity: 0.2;
  }
}
@keyframes shadow {
  0%, 30%, 100% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(1);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(1);
  }
  15% {
    -webkit-transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(0.85);
            transform: translate3d(calc((var(--x) * var(--radius)) * 1vmin), calc((var(--y) * var(--radius)) * -1vmin), calc(var(--size) * -0.5vmin)) scale(0.85);
    opacity: 0.2;
  }
}
@media screen and (min-width: 599px) {
  #community {
    height: 800px;
  }

  .scene {
    height: 800px;
  }
}
.section-main--two {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-main--two .titleBox {
  background: transparent;
  font-family: "MONTSERRAT", "monospace";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 127.9%;
  text-align: center;
  color: #000000;
  border: 8px #000000 solid;
  padding: 10px 45px;
  margin: 45px;
}
.section-main--two p {
  font-family: "OPEN SANS";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 10px 40px;
  text-align: center;
}
.section-main--two .button {
  background: transparent;
  font-family: "MONTSERRAT", "monospace";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  padding: 10px 45px;
  border-left: #000000 solid;
  border-right: #000000 solid;
  border-top: none;
  border-bottom: none;
  margin: 50px auto 30px;
}
.section-main--two img {
  margin-bottom: 80px;
}
.section-main--two .main-skills--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
  margin-top: -80px;
}
.section-main--two .main-skills--container .box-model h1 {
  padding: 0 60px 15px;
}
.section-main--two .main-skills--container .box-model p {
  font-family: "OPEN SANS";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  color: #000000;
}
.section-main--two .main-skills--container .box-model img {
  position: relative;
  top: 115px;
  left: 24px;
}

@media screen and (min-width: 423px) {
  .main-skills--container .box-model p {
    padding: 0 30px;
  }
}
@media screen and (min-width: 500px) {
  .main-skills--container .box-model p {
    padding: 0 40px;
  }
}
@media screen and (min-width: 600px) {
  .section-main--two p {
    padding: 0 40px;
  }

  .main-skills--container .box-model p {
    padding: 0 70px;
  }
}
@media screen and (min-width: 643px) {
  .section-main--two p {
    padding: 0 50px;
  }
  .section-main--two .main-skills--container .box-model p {
    padding: 0 100px;
  }
  .section-main--two .main-skills--container .box-model h1 {
    padding: 0 80px 25px;
  }
  .section-main--two .main-skills--container .box-model img {
    left: 44px;
  }
}
@media screen and (min-width: 766px) {
  .section-main--two p {
    padding: 0 70px;
  }
  .section-main--two .main-skills--container .box-model p {
    padding: 0 120px;
  }
  .section-main--two .main-skills--container .box-model h1 {
    padding: 0 100px 25px;
  }
  .section-main--two .main-skills--container .box-model img {
    left: 64px;
  }
}
@media screen and (min-width: 834px) {
  .section-main--two p {
    padding: 0 90px;
  }
  .section-main--two .main-skills--container .box-model p {
    padding: 0 150px;
  }
  .section-main--two .main-skills--container .box-model h1 {
    padding: 0 130px 25px;
  }
  .section-main--two .main-skills--container .box-model img {
    left: 94px;
  }
}
@media screen and (min-width: 1023px) {
  .section-main--two p {
    padding: 0 120px;
    font-size: 16px;
  }
  .section-main--two .main-skills--container .one {
    width: 50%;
  }
  .section-main--two .main-skills--container .one p {
    padding: 0 90px;
  }
  .section-main--two .main-skills--container .one h1 {
    padding: 0 100px 25px;
  }
  .section-main--two .main-skills--container .one img {
    left: 64px;
  }
  .section-main--two .main-skills--container .two {
    width: 50%;
  }
  .section-main--two .main-skills--container .two p {
    padding: 0 90px;
  }
  .section-main--two .main-skills--container .two h1 {
    padding: 0 100px 25px;
  }
  .section-main--two .main-skills--container .two img {
    left: 64px;
  }
  .section-main--two .main-skills--container .three {
    width: 100%;
  }
  .section-main--two .main-skills--container .three p {
    padding: 0 300px;
  }
  .section-main--two .main-skills--container .three h1 {
    padding: 0 280px 25px;
  }
  .section-main--two .main-skills--container .three img {
    left: 242px;
  }
}
@media screen and (min-width: 1439px) {
  .section-main--two p {
    padding: 0 120px;
    font-size: 16px;
  }
  .section-main--two .main-skills--container .one {
    width: 50%;
  }
  .section-main--two .main-skills--container .one p {
    font-size: 16px;
    padding: 0 120px;
  }
  .section-main--two .main-skills--container .one h1 {
    padding: 0 100px 25px;
  }
  .section-main--two .main-skills--container .one img {
    left: 64px;
  }
  .section-main--two .main-skills--container .two {
    width: 50%;
  }
  .section-main--two .main-skills--container .two p {
    font-size: 16px;
    padding: 0 120px;
  }
  .section-main--two .main-skills--container .two h1 {
    padding: 0 100px 25px;
  }
  .section-main--two .main-skills--container .two img {
    left: 64px;
  }
  .section-main--two .main-skills--container .three {
    width: 100%;
  }
  .section-main--two .main-skills--container .three p {
    font-size: 16px;
    padding: 0 420px;
  }
  .section-main--two .main-skills--container .three h1 {
    padding: 0 400px 25px;
  }
  .section-main--two .main-skills--container .three img {
    left: 362px;
  }
}
@media screen and (min-width: 1920px) {
  .section-main--two p {
    padding: 0 420px;
    font-size: 18px;
  }
  .section-main--two .main-skills--container .one {
    width: 50%;
  }
  .section-main--two .main-skills--container .one p {
    font-size: 16px;
    padding: 0 220px;
  }
  .section-main--two .main-skills--container .one h1 {
    padding: 0 240px 25px;
  }
  .section-main--two .main-skills--container .one img {
    left: 205px;
  }
  .section-main--two .main-skills--container .two {
    width: 50%;
  }
  .section-main--two .main-skills--container .two p {
    font-size: 16px;
    padding: 0 220px;
  }
  .section-main--two .main-skills--container .two h1 {
    padding: 0 240px 25px;
  }
  .section-main--two .main-skills--container .two img {
    left: 205px;
  }
  .section-main--two .main-skills--container .three {
    width: 100%;
  }
  .section-main--two .main-skills--container .three p {
    font-size: 16px;
    padding: 0 580px;
  }
  .section-main--two .main-skills--container .three h1 {
    padding: 0 530px 25px;
  }
  .section-main--two .main-skills--container .three img {
    left: 493px;
  }
}
.main-skills--tech {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-skills--tech .titleBox {
  background: transparent;
  font-family: "MONTSERRAT", "monospace";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 127.9%;
  text-align: center;
  color: #000000;
  border: 8px #000000 solid;
  margin: 45px auto;
  padding: 10px 45px;
}
.main-skills--tech #unic {
  margin: 25px 0 35px 0;
}
.main-skills--tech h1 {
  margin: 17px 0 70px 0;
}

.section-main-three {
  width: 100%;
  height: auto;
}
.section-main-three .main-proyect--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-main-three .main-proyect--container .proyect-button--container {
  height: 187.5px;
  background-image: url("/src/assets/image/img/sectionmain1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-main-three .main-proyect--container .proyect-button--container .titleBox {
  background: transparent;
  font-family: "MONTSERRAT", "monospace";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 127.9%;
  text-align: center;
  color: #000000;
  border: 8px #000000 solid;
  padding: 10px 45px;
}
.section-main-three .main-proyect--container .proyect-nav--container {
  height: 156px;
  background-color: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-main-three .main-proyect--container .proyect-nav--container li {
  display: inline-block;
  border-bottom: 1px #aaaaaa solid;
  width: 157px;
  text-align: center;
  padding: 10px;
}
.section-main-three .main-proyect--container .proyect-nav--container > li {
  margin-top: 10px;
}